.container {
    margin: 50px 0;
    text-align: center;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid rgba(245,215,110, 0.5)
}
.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5)
}
.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5)
}
.percentages {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
    margin-top: 10px !important;
}

@media (max-width: 770px ) {
    .card {
        margin: 2% 0 !important;
    }
}