body {
    background-color: rgb(250, 250, 250);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 100px;
    margin-top: 50px;
}
.text {
  padding-top: 30px;
}

.twitter {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
    .image {
      width: 100px;
    }
  }